body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
    background-color: #FFF8F3;
    font-family: poppins, sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}




/***** Navbar *****/
.navbar {
    padding: 0;
    min-height: 100px;
}

.navbar > .container {
    max-width: 100%; /*Override bootstrap container max width in navbar*/
    min-height: 100px;
    padding: 20px 0;
}

.navbar-brand {
    margin: 0 48px 0 36px;
    font-family: acumin-pro, sans-serif;
    font-size: 24px !important;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-nav .nav-link {
    font-size: 16px;
    padding: 12px 0;
    padding-left: 32px;
    letter-spacing: 1px;
}

.navbar-collapse .btn {
    background-color: #0084F5;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 10px 36px;
    margin: 0 32px;
}

.navbar-toggler {
    margin-right: 12px;
}




/***** Section *****/
.section-1, .section-2, .section-3 {
    position: relative;
}

.section-1::before, .section-2::before, .section-3::before {
    content: '';
    display: block;
    position: absolute;
}

.section-1::before {
    top: -9vw;
    right: 0;
    border-top: 4.5vw solid transparent;
    border-left: 4.5vw solid transparent;
    border-bottom: 4.5vw solid #FFF8F3;
    border-right: 4.5vw solid #FFF8F3;
}

.section-2 {
    background-color: #0084F5;
}

.section-2::before {
    top: 0;
    left: 0;
    border-top: 4.5vw solid #FFF8F3;
    border-left: 4.5vw solid #FFF8F3;
    border-bottom: 4.5vw solid transparent;
    border-right: 4.5vw solid transparent;
    z-index: 2;
}

.section-3::before {
    top: -45px;
    left: 0;
    border-style: solid;
    border-width: 45px 0 0 100vw;
    border-color: transparent transparent transparent #FFF8F3;
}

.section-wrapper {
    position: relative;
    padding: 70px 30px;
}

.section-wrapper.main {
    height: 430px;
}

.section-wrapper.light {
    color: #001F39;
}

.section-wrapper.blue {
    color: #fff;
}

.section-content {
    display: block;
}

.section.main-bg::before, .section.main-bg::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #0084F5;
    height: 6px;
    width: 6px;
}

.section.main-bg::before {
    right: 0;
    bottom: 208px;
}

.section.main-bg::after {
    left: 0;
    bottom: 0;
}




/***** For home page *****/
.main-bg {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bg-blur {
    position: absolute;
    height: 100%;
    width: 110%;
    background-image: url(img/bg-1.png);
    background-size: cover;
    background-position-x: -100px;
    filter: blur(5px);
    transform: scale(1.1);
    z-index: -1;
}

.intro-header {
    max-width: 295px;
    margin: 0 auto;
    text-align: center;
}

.icon {
    font-family: acumin-pro, sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.button {
    border: none;
    border-radius: 3px;
    background-color: #0084F5;
    color: #fff;
    font-weight: 600;
}

.button.home-page {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 55px;
}

h2.heading-title {
    font-family: acumin-pro, sans-serif;
    font-weight: 800;
    font-size: 42px;
}

.section__body {
    font-weight: 500;
    margin-top: 25px;
}

.section__body p {
    font-size: 18px;
}

.blue {
    background-color: #0084F5;
}

.light .section__body {
    color: #404040;
}

.blue .section__body {
    color: #fff;
}




/***** For statistics page *****/
.page-title {
    padding: 60px 30px 0;
}

.page-title h2 {
    font-family: acumin-pro, sans-serif;
    font-size: 36px;
    font-weight: 900;
}


/***** Details *****/
.details {
    position: absolute;
}

.detailwork-1 {
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
}

.detailwork-1::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #0084f5;
    width: 240px;
    height: 6px;
}

.detailwork-1::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #0084f5;
    right: 0;
    bottom: 0;
    height: 32px;
    width: 32px;
}

.detailwork-2 {
    background-color: #0084f5;
    right: 0;
    top: 65%;
    width: 10px;
    height: 10px;
}

.detailwork-4::before {
    content: '';
    display: block;
}




/***** Media Queries *****/
@media screen and (min-width: 768px) {
    .section-1::before {
        top: -64px;
        border-top: 64px solid transparent;
        border-left: 64px solid transparent;
        border-bottom: 64px solid #FFF8F3;
        border-right: 64px solid #FFF8F3;
    }

    .section-2::before {
        top: -64px;
        border-top: 64px solid #FFF8F3;
        border-left: 64px solid #FFF8F3;
        border-bottom: 64px solid transparent;
        border-right: 64px solid transparent;
    }
}

@media screen and (max-width: 990px) {
    .navbar-nav .nav-link {
        font-size: 20px;
    }

    .navbar-nav, .form-inline {
        margin: 10px 0;
    }

    .navbar-collapse {
        background-color: #2A2A2A;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .section-wrapper.main {
        height: 34vw;
    }

    .button.home-page {
        margin: 10px 0;
    }
}